@using Microsoft.Toolkit.Parsers.Rss;
@model IEnumerable<RssSchema>
    <div class="container">
        <h1>News</h1>
        <div class="list-group">
            @foreach (var item in Model)
            {
                <a href="@item.FeedUrl" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@item.Title</h5>
                        <small class="text-muted">@DateTime.Now.Subtract(item.PublishDate).Days days ago</small>
                    </div>
                    <p class="mb-1">@item.Summary</p>
                    <small class="text-muted">@item.Author</small>
                </a>
            }
        </div>
    </div>
   